figure.work1 {
  color: #ffffff;
  text-align: left;
}
figure.work1 * {
  transition: all 0.35s ease;
}
figure.work1 img {
  width: 100%;
}
figure.work1:after,
figure.work1 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.work1:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.35s ease;
  opacity: 0;
}
figure.work1 figcaption {
  z-index: 1;
  padding: 10px;
}
figure.work1 h3 {
  margin: 5px;
  font-weight: 700;
  font-size: 1.4em;
  opacity: 0;
}
figure.work1 p {
  margin: 5px;
  font-size: 0.7em;
  transform: translateY(40px);
  opacity: 0;
}
figure.work1 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.work1:hover:after {
  opacity: 1;
}
figure.work1:hover h3,
figure.work1:hover p {
  transform: translate(0px, 0px);
  opacity: 1;
}

@media (max-width: 767px) {
  /* .sm-wd {
    width: 50%;
    margin: 0 auto;
  } */
  figure.work1 img,
  figure.work1:hover:after {
    width: 50%;
    margin: 0 auto;
  }
  .sm-img {
    text-align: center; 
  }
  figure.work1 h3 {
    font-size: 1.5em;
    width: 50%;
    margin: 5px auto;
  }
  figure.work1 p {
    font-size: 0.8em;
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  figure.work1 h3 {
    font-size: 1.2em;
    width: 50%;
    margin: 3px auto;
  }
  figure.work1 p {
    font-size: 0.6em;
    width: 50%;
    margin: 0 auto;
  }
}
